
<div class="sidebar-nav">
  <%unless @user_annouce%>


  <h4>车辆</h4>
    <ul> <li><a href="/dingwei/list_all_truck">全部车辆</a></li></ul>
    <ul> <li><a href="/dingwei/newtruck">新增车辆</a></li></ul>
 <h4>车队</h4>
    <ul> <li><a href="/truck_groups">全部车队</a></li></ul>
    <ul> <li><a href="/truck_groups/new">新增车队</a></li></ul>
 <h4>位置</h4>
    <ul> <li><a href="/dingwei/list_all_truck">全部位置</a></li></ul>


  <%else%>

    <ul>
      <p>.</p>
    </ul>

  <%end%>
</div>

