
<div >
  <h2>把车辆位置信息放到网络-大家都好</h2>
  <ul class="unstyled">
    <li style="margin-top:10px"><p>便于自己掌握车辆位置和行驶轨迹</p></li>
    <li></p>便于客户掌握货物位置,增加客户对你的信任度和依赖度.</p></li>
    <li style="margin-bottom:20px;"><p>增加更多新的商机，因为你的车辆会被潜在货主搜索到 </p></li>
  </ul>
</div>

<div>
  <h2>免GPS设备的车辆定位-物流零距离的解决方案</h2>
  <ul class="unstyled">
    <li style="margin-top:10px;"> <p>只要司机有一个<strong>Android </strong>平台的手机，智能手机基本上都是android 手机了，目前不支持苹果和诺基亚系列</p></li>
    <li></p>在司机的手机上面下载并安装一个物流零距离软件，它会定时存储行驶轨迹在物流零距离上</p></li>
    <li> </p>在物流零距离上随时查询车辆和车队的情况</p></li>
    <li style="margin-bottom:20px;"></p>货主可以查询当地附近的车辆，你的车辆路过当地就给你带来商机.</p></li>
  </ul>
</div>

<div>
  <h2>车辆位置信息上网分2步，只需要1分钟就操作完成</h2>
  <ul class="unstyled">
    <li style="margin-top:10px"> <p>在物流零距离上点击按钮绑定车牌和需要安装软件的手机号码</p></li>
    <li style="margin-bottom:20px;"> <p>下载和安装手机软件即可</p></li>
  </ul>
</div>
  
  <div>
  <h2>手机可以及时接收订阅的货源信息</h2>
  <ul class="unstyled">
    <li style="margin-top:10px"> <p>司机再也不需要上网，手机终端上可以直接看到自己感兴趣的货源.</p></li>
  </ul>
</div>
  
  <div>
  <h2>最关键车辆定位的服务是免费的</h2>
  <ul class="unstyled">
    <li style="margin-top:10px"> <p>网站处在推广期中，我们将我们的服务免费提供给大家，希望大家多使用.</p></li>
  </ul>
</div>




