<%#coding:utf-8%>
<h1> 地图显示</h1>
<%= gmaps(
  "map_options" => { "type" => "ROADMAP", "center_longitude" => @center_longitude, "center_latitude" => @center_latitude, "auto_adjust" => true},
   "markers" => { "data" => @markers },
  "polylines"    => { "data" => @polylines    , "options" => { "strokeColor" => "#000" } }    
)
 %>


