
  <div id="cargo_show" >
 <table>
   <tr>
    <th>价格</th>
    <th>联系电话</th>
    <th>备注</th>
  </tr>
  <tr>
<td>

 <%=@cargo.price %><%=@cargo.price_unit %>
</td>
<td>
 <%=@cargo.contact_phone %>
</td>
<td>
 <%= @cargo.comments %>
</td>
</tr>
</table>
</div>



