
<div>
<%=render "/cargos/formq"%>
</div>
<%if params[:page]==1|| params[:page]==nil%>
  <%cache "cargos_allcity_1" do %>
  <%cargo_allcity_helper%>
    <%=render '/cargos/cargolist'%>
  <%end%>

<%else%>
 <%cargo_allcity_helper%>
  <%=render '/cargos/cargolist'%>
<%end%>
