<p style="margin-top:10px;"><b style="color:blue;">车源速配</b>可以迅速列出该货源对应线路的车源,你还可以查看车主给该货源的报价以及你询价的车辆信息</p>
<!--<h3>我的全部货源</h3>-->

<%= render 'mycargo' %>
 <%=render "cargonavi"%>
<p id="notice"><%= notice %></p>
