<%#coding:utf-8%>

<div class="leftnavi" >  
  <h3>关注城市</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_line" class="btn default  " href="/concerncargos/new/city">添加城市</a>    </li>
    <li>  <a id="my_line" class=" " href="/concerncargos/edit/my/city"> 我的城市</a>
    </li>    
  </ul>
  <h3>关注线路</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_huo" class="btn default   navi_stock_cargo" href="/concerncargos/new/line">添加线路</a>    </li>
    <li>  <a id="my_huo" class=" navi_cargo" href="/concerncargos/edit/my/line"> 我的线路</a>
    </li>    
  </ul>
  <h3>关注用户</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_che" class="btn default  navi_stock_truck" href="/concerncargos/new/user">添加用户</a>    </li>
    <li> <a id="my_che" class=" navi_truck" href="/concerncargos/edit/my/user"> 我的用户</a>
    </li>  
  </ul>
  <h3>关注电话</h3>
  <ul class="centernavi">
    <li>   <a class=" btn default" href="/concerncargos/new/phone">添加电话</a></li>
    <li> <a  href="/concerncargos/edit/my/phone"> 我的电话</a></li>
  </ul>

  <div class="leftbar_fill">

  </div>
</div>



