<%#coding:utf-8%>

<div class="left_navi" >  

  <h3>关注线路</h3>
  
    <p>
      <a id="fabu_huo" class="btn btn-default" href="/concerncargos/new/line">添加关注线路</a>    </li>
    <p>  <a id="my_huo" href="/concerncargos/edit/my/line"> 订阅关注线路</a>
    </p>   
  
  <h3>关注电话</h3>
  
    <p>   <a class=" btn default" href="/concerncargos/new/phone">添加关注电话</a></li>
    <p> <a  href="/concerncargos/edit/my/phone"> 订阅关注电话</a></li>
  
  <h3>关注用户</h3>
  
    <p>
      <a id="fabu_che" class="btn btn-default" href="/concerncargos/new/user">添加关注用户</a>    </li>
    <p> <a id="my_che"  href="/concerncargos/edit/my/user"> 订阅关注用户</a>
    </p> 
  

  <h3>关注城市</h3>
  
    <p>
      <a id="fabu_line" class="btn btn-default" href="/concerncargos/new/city">添加关注城市</a>    </li>
    <p>  <a id="my_line" href="/concerncargos/edit/my/city"> 订阅关注城市</a>
    </p>   
  

  <div class="leftbar_fill">

  </div>
</div>



