<%#coding:utf-8%>

<div class="leftnavi" >  
  <h3>关注城市</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_line" class="btn default" href="/concerncargos/new/city">添加关注城市</a>    </li>
    <li>  <a id="my_line" href="/concerncargos/edit/my/city"> 管理关注城市</a>
    </li>    
  </ul>
  <h3>关注线路</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_huo" class="btn default" href="/concerncargos/new/line">添加关注线路</a>    </li>
    <li>  <a id="my_huo" href="/concerncargos/edit/my/line"> 管理关注线路</a>
    </li>    
  </ul>
  <h3>关注用户</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_che" class="btn default" href="/concerncargos/new/user">添加关注用户</a>    </li>
    <li> <a id="my_che"  href="/concerncargos/edit/my/user"> 管理关注用户</a>
    </li>  
  </ul>
  <h3>关注电话</h3>
  <ul class="centernavi">
    <li>   <a class=" btn default" href="/concerncargos/new/phone">添加关注电话</a></li>
    <li> <a  href="/concerncargos/edit/my/phone"> 管理关注电话</a></li>
  </ul>

  <div class="leftbar_fill">

  </div>
</div>



