<div >
<%=form_for(@concerncargo) do |f| %>
  <fieldset>
<span class=""  style="text-align: left;">

  <!-- do not change below  format -->

      <span class="line_from_label" >选择关注城市:</span>
      <a id="from_data_load"  style="margin:5px 20px 5px 20px;" href="/cities/from"><%=@city ||"请选择城市"%></a> 
       <input type="hidden" name="citycode" value=""></input>
       <input type="hidden" name="cityname" value=""></input>
       <input type="hidden" name="concern_type" value="city"></input>
  <!-- do not change this format -->
    <%= f.submit("确定",:class=>"btn default")%>
  </span>

</fieldset>
  
<% end %>
           <div class="row">
        <p class="span15">
          添加你关注的城市，你就可以通过这里发现最新发布的城市货源，一旦我们有该城市发布的最新货源信息，将立刻会用电子邮件通知你，
          目前不能订阅，此功能目前测试中，服务不稳定请谅解。
        </p>
        </div>
</div>
