<%= form_for(@concerncargo) do |f| %>
  <fieldset>
    <% if @concerncargo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@concerncargo.errors.count, "error") %> prohibited this userline from being saved:</h2>

        <ul>
          <% @concerncargo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
      <div class="clearfix">
        <label>关注人姓名备注:</label>
        <input type="text" name="comments" value=""></input>
      </div>

    <div class="clearfix">
      <label>关注的手机号码*:</label>
      <input type="text" name="mobilephone" value=""></input>
    </div>
    <div class="clearfix">
      <label>该手机的固定电话:</label>
       <input class="small" type="text" name="quhao" value=""></input> -
      <input type="text" name="fixphone" value=""></input>
    </div>

 
      <div class="clearfix">
        <label>该手机的QQ:</label>
        <input type="text" name="QQ" value=""></input>
      </div>


      
      <input type="hidden" name="concern_type" value="phone"></input>
      <div class="actions">
        <%= f.submit("确  定",:class=>"btn primary large") %>
      </div>



  </fieldset>
<% end %>
      <div>
        <p>
          添加你关注的电话并设置了通知功能后，一旦我们发现有该电话号码发布的最新货源信息，将立刻会用电子邮件通知你，
        这个功能有助于你维护和巩固你的老客户.此功能目前测试中，服务不稳定请谅解。
        </p>
        </div>