<%#coding:utf-8%>
<div>  

  <p>您好,</p>
  
  <p>
    您的一个朋友<%=@user.name%>邀请您访问<a href="http://w090.com">物流零距离网站-w090.com</a>
  </p>
  
   <p> 来到<a href="http://w090.com">物流零距离</a>你能够：
   免费搜索/发布大量的货源信息.
   免费搜索/发布大量的车源信息.
   更有更多精彩功能等着你.
   网络让货主和车主零距离！</p>
   
   <p><b><a href="http://w090.com">猛击这里访问</a></b></p>
   <p>
     --您的朋友 <%=@user.name%>
   </p>

</div>





