<div class="menu">
    <div  class="list_close" style="margin-top: 5px;margin-left: 2px;"><a href="">关闭</a></div>
    <ol> <a  href="/stock_trucks/<%=@stock_truck_id%>" >编辑</a></ol>
    <ol> <a  class="delete" href="/stock_trucks/destroy/<%=@stock_truck_id%>">删除</a></ol>
    <ol> <a  href="/trucks/new/<%=@stock_truck_id%>">发布车源</a></ol>
    <ol> <a  href="/trucks/list/<%=@stock_truck_id%>">全部车源</a></ol>
</div>