
<h1>车主询价</h1>

<table>
  <tr>

    <th>出价</th>

    <th>出价时间</th>
    <th>询价货源</th>
    <th>管理</th>
  </tr>
  <% unless @inqueries.blank?%>

    <% @inqueries.each do |inquery| %>
      <tr>
        <td>
<%= inquery.price ||"面议"%>
        </td>
        <td><%= inquery.created_at %></td>

        <td>
             <%= link_to '编辑', edit_inquery_path(inquery) %>|
          <a href="/inqueries/destroy/<%inquery.id%>">删除</a>
          </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @inqueries,:class=>"page_navi_link"%>
<br />



