<%#coding:utf-8%>
<a href="/admin/show_log/logfile/production"> production.log</a>
<a href="/admin/show_log/logfile/access"> access.log</a>
<a href="/admin/show_log/logfile/mongodb"> mongodb.log</a>
<a href="/admin/show_log/logfile/thin3000"> thin3000.log</a>
<a href="/admin/show_log/logfile/cron"> cron.log</a>

<a href="/admin/show_log/logfile/development"> development.log</a>
<a href="/admin/show_log/logfile/dev-thin"> dev-thin.log</a>
<a href="/admin/show_log/logfile/grasp"> grasp.log</a>
<a href="/admin/show_log/logfile/mail">mail.log</a>
