<%#coding:utf-8%>
<%#cache "usercenter_leftnavi" do%>
<div class="leftnavi" >
  <h3>用户中心</h3>
      <h3>货源管理</h3>
  <ul class="pmenu">

    <li>
      <a id="fabu_huo" class="navi_link navi_stock_cargo" href="">发布货源</a>    </li>
    <li>  <a id="my_huo" class="navi_link navi_cargo" href=""> 我的货源</a>
    </li>  
     </ul>
    <h3>车源管理</h3>
    <ul class="pmenu">
    <li>
      <a id="fabu_che" class="navi_link navi_stock_truck" href="">发布车源</a>    </li>
    <li> <a id="my_che" class="navi_link navi_truck" href=""> 我的车源</a>
    </li>  
    </ul>
       <h3>公司管理</h3>
     <ul class="pmenu">
 
    
      <li>   <a class="navi_link" href="">我的公司</a></li>
      <li> <a style="color:red;" href=""> 完善公司信息</a></li>
       </ul>
    
    <h3>联系管理</h3>  
      <ul class="pmenu">
      <li>   <a  id ="my_contact" class="navi_link" href="">我的联系信息</a></li>
      <li>   <a id ="my_contact" style="color:red;" href="">完善联系方式</a> </li>
  </ul>
  <div class="leftbar_fill">
    
  </div>
</div>

<%#end%>

