<%#coding:utf-8%>
<%#cache "usercenter_leftnavi" do%>
<div class="left_navi">
  <h4>专线管理</h4>

  <p>
    <a id="fabu_line" class="btn btn-default  " href="/userlines/new">发布专线</a>     </p>
  <p>  <a id="my_line"   class="navi_line"href="/userlines/myline"> 我的专线</a>
  </p>    

  <h4>货源管理</h4>
  <p class="centernavi">
  <p>
    <a id="fabu_huo" class="btn btn-default   navi_stock_cargo" href="/users/stock_cargos">发布货源</a>     </p>
  <p>  <a id="my_huo" class=" navi_cargo" href="/users/cargos/"> 我的货源</a>
  </p>    

  <h4>车源管理</h4>
  <p>
    <a id="fabu_che" class="btn btn-default  navi_stock_truck" href="/users/stock_trucks">发布车源</a>     </p>
  <p> <a id="my_che" class=" navi_truck" href="/users/trucks"> 我的车源</a>
  </p>  

  <h4>公司管理</h4>

  <p>   <a class=" btn default" href="/companies/privatecenter">发布公司</a> </p>
  <p> <a  href="/companies/edit"> 更新公司</a> </p>
</p>

  
<h4>联系管理</h4>

<p>   <a  id ="my_contact" class="btn btn-default" href="/user_contacts/private">发布联系</a> </p>
<p>   <a id ="my_contact"  href="/user_contacts/edit">更新联系</a>  </p>


</div>

<%#end%>

