<%#coding:utf-8%>
<%#cache "usercenter_leftnavi" do%>
<div class="leftnavi" >  
   <h3>专线管理</h3>
    <ul class="centernavi">
    <li>
      <a id="fabu_line" class="btn default  " href="/userlines/new">发布专线</a>    </li>
      <li>  <a id="my_line" class=" " href="/userlines/myline"> 我的专线</a>
    </li>    
    </ul>
      <h3>货源管理</h3>
  <ul class="centernavi">
    <li>
      <a id="fabu_huo" class="btn default   navi_stock_cargo" href="/users/stock_cargos">发布货源</a>    </li>
    <li>  <a id="my_huo" class=" navi_cargo" href="/users/cargos/"> 我的货源</a>
    </li>    
    </ul>
    <h3>车源管理</h3>
    <ul class="centernavi">
    <li>
      <a id="fabu_che" class="btn default  navi_stock_truck" href="/users/stock_trucks">发布车源</a>    </li>
    <li> <a id="my_che" class=" navi_truck" href="/users/trucks"> 我的车源</a>
    </li>  
    </ul>
    <h3>公司管理</h3>
    <ul class="centernavi">
      <li>   <a class=" btn default" href="/companies/privatecenter">公司黄页</a></li>
      <li> <a  href="/companies/edit"> 更新公司信息</a></li>
</ul>
    <h3>联系管理</h3>
    <ul class="centernavi">
      <li>   <a  id ="my_contact" class="btn default" href="/user_contacts/private">联系信息</a></li>
      <li>   <a id ="my_contact"  href="/user_contacts/edit">更新联系方式</a> </li>

  </ul>
  <div class="leftbar_fill">
    
  </div>
</div>

<%#end%>

