<div>
  <%if @user.activate!="verified" and @user.status="new_register"%>
  <p class="alert alert-warning">请到你的注册邮箱点击激活链接，以便我们确认你的邮箱的存在，如果时间很长了，点击这里 <a class ="btn default "href="/users/resend_activate_code">重新发送激活邮件</a></p>
  <%end%>
</div>

<%cache "users_center_#{@user.id}" do %>
<%users_center_helper%>
<div>  
  <div class="userdata">
    <h3>最近发布的货源</h3>
    <%=render "/cargos/mycargo"%>
  </div>
  
  <div class="userdata">
    <h3>最近发布的车源</h3>
     <%=render "/trucks/mytruck"%>
  </div>
  <div class="userdata">
    <h3>我的公司介绍</h3>
     <%=render "/companies/mycompany"%>

  </div>

</div>
<%end%>