


<form class="show_form cssform" action="/users/pwreset">

  <p>
     尊敬的用户<%=@user.name%>,您好，请设置您的新密码：
  </p>
  <p>
    <input id="username" name="username" type="hidden" value=<%=@user.name%> />
  </p>

  <p>
    <label for="password">重置的新密码:</label>
    <input id="password" name="password" type="password" />
  </p>

  <p>
    <label for="password_confirmation">重置的新密码确认:</label>
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </p>

  <p>
    <input type="submit" class="btn btn-primary submit_button" value="设定密码" />
  </p>


</form>
