<div class="container">
  <div  style="margin:50px 0px 20px 0px;" class="clearfix">
  <label>联系邮箱: </label>  
  <div class="input"> <a  class="btn btn-primary" href="mailto:w090.master@gmail.com">发送邮件</a> </div> 
</div>
</div>