<div class="container">
  <h2>本软件将在你的电脑上安装网站桌面访问的快捷方式</h2>

<h3>系统要求：</h3>
<p>
     物流零距离支持在安装Win98、Win2000、WinXP、Win2003、Win7的电脑上使用。
</p>

<h3>平台功能：</h3>
     <p>物流零距离是一个永久免费、覆盖全国、信息即时交互的专业公路物流信息平台。
       物流零距离集货源信息、车源信息、企业信息、发布、查询等诸多功能于一体，操作十分便捷。只需登录www.w090.com，即可直接享受物流零距离提供的海量信息和优质服务。
</p>
   <h3>  下载说明 </h3>
   <p> 点击“下载物流零距离”，进行下载。完成后，双击即可自动完成安装，在您的电脑桌面上您将找到“物流零距离”图标。双击此图标进入软件，单击上方登录按钮，将弹出登录窗口，输入用户名和密码即可登录到物流零距离。如果没有用户名和密码，点击登录窗口中的“快速注册”按钮，即可申请用户名。
</p> 

<div class="download_setup">
  <p><a href="/users/download_setup">下载物流零距离</a></p>
</div>
</div>

