<div class="signup">
  <p>尊敬的用户 <%=@user.name%>,您好！</p>
  <p style="margin-left:20px;">您在<a href="w090.com">物流零距离</a>上注册了一个用户, 此封邮件为邮箱确认信.</p>
  
  <p>请点击该链接以便我们确认您的邮箱存在
    
    <a href=" http://w090.com/users/activate/<%=@user.activate%>"> http://w090.com/users/activate/<%=@user.activate%></a>
    
    </p>
  
  <p style="margin-left:30px;"> - 物流零距离管理员</p>
</div>