<p>
  尊敬的用户<%=@user.name%>,您好！
</p>
<p>
 物流零距离网站近期做了一次页面优化，页面更加美观大方了，可以更好的展示您的公司，IE6浏览器的用户还需要再耐心等待下。
 近期增加了物流专线，用户中心频道，还可以发送货源信息给自己和朋友，加上移动接收电子邮件，或可以帮助你的物流业务。 
  
 </p>
 
 <p>
   
  正在开发的精彩功能包括：接入更多的货源和车源信息，订阅城市货源邮件，以及关注我的老客户，老供应商等等功能。
  使得你的老客户一有货源信息，就能自动发送到你的电子邮箱，通过手机随时接收邮件，即可获取最快信息。
  敬请期待！
 </p>
 
 <p>我们不会滥用您的邮箱，只会发非常必要的信息给您或者你主动订阅的邮件.</p>
 
 <p><a href="http://w090.com"> 猛击这里,马上访问物流零距离 http://w090.com</a></p>
 <p>
   
   -物流零距离网站
 </p>