<h1>用户测试</h1>


<p>
  <h2>用户登录</h2>
<ul>
  <li>cd D:\vob\g00\test\watir\users;</li>  
  <li>ruby user_login_logout.rb</li></ul>
</p>


<p>
  <h2>公司创建</h2>
<ul>
  <li>cd D:\vob\g00\test\watir\companies;</li>  
  <li>ruby user_login_logout.rb</li></ul>
</p>


