<div class="container">

<div class="form_header">
  <h2 style="text-align: center">完善公司信息</h2>
</div>
  
<!-- <p style="text-align: right">我是个体户，<a href="/companies/new/personal">在这里注册</a></p>-->

<%= render 'form' %>
</div>
<%#= link_to 'Back', companies_path %>
