<p>
计划设置分类浏览:
  <%["W090","Android","Caiji","KD090"] .each do |system|%>
<a  style="font-weight: bold;" href="/plan_settings/index/system/<%=system%>"><%=system%></a>-><a href="/plans/index/system/<%=system%>">进入计划</a>
  <%end%>

</p>
