<%#coding:utf-8%>
<h1> <%=@city_name%> 地图显示</h1>

<%#= gmaps4rails(@json) %>
<%if @lng%>

<%=gmaps("map_options" => { "type" => "ROADMAP", "center_longitude" => @lng, "center_latitude" => @lat, "zoom" => 8, "auto_adjust" => false},
  "markers" => { "data" => @markers }) %>

<%else%>
<p>
  没有可以显示的地图，因为位置不详.
</p>
<%end%>


