<%#coding:utf-8%>
<div class="span2">
<p>
<a target="_blank" href="/cities/map/show/city/<%=@city_code%>">查看城市位置</a>
</p>

<p>
  <a target="_blank" href="/cities/map/show/line/<%=@fcity_code%>/<%=@tcity_code%>">查看参考行驶线路(高速)</a>
</p>

</div>
